{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'test/panel.css' %}">
{% endblock %}
{% block title %} پنل کاربری {% endblock %}

{% block body %}
    <div class="container">
      <h5 class="mt-5">پنل کاربر</h5>
      <!--start Search and register -->
      <!--end Search and register -->
      <!--start menu-->
      <!--end menu-->
      <!--start panel-->
<div class="row mt-5">
<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
  <ul class="list-group">
  <li class="bi bi-check-square fs-5 list-group-item active"> آزمون ها </li>
  <li class="bi bi-grid fs-5 list-group-item"><a href="{% url 'index_page' %}"> صفحه اصلی </a></li>
  <li class="bi bi-box-arrow-right fs-5 list-group-item"><a href="#"> خروح از حساب کاربری </a></li>
</ul>
</div>
<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
<h5 class="mb-3">نتایج آزمون ها</h5>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">آزمون ui</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">آزمون ux</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">آزمون xd</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">نتیجه آزمون ui</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">نتیجه آزمون ux</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">نتیجه آزمون xd</div>
</div>
</div>
</div>
      <!--end panel-->
</div>
<!-- start footer-->
<!-- end footer-->
{% endblock %}