{% extends 'base.html' %}
{% load static %}
{% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'test/panel.css' %}">
{% endblock %}
{% block title %} پنل کاربری {% endblock %}

{% block body %}


    <div class="container">
        <h5 class="mt-5">پنل کاربر</h5>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <ul class="list-group">
                    <li class="bi bi-check-square fs-5 list-group-item active"> آزمون ها</li>
                    <li class="bi bi-grid fs-5 list-group-item"><a href="{% url 'index_page' %}"> صفحه اصلی </a></li>
                    <li class="bi bi-box-arrow-right fs-5 list-group-item"><a href="{% url 'logout_user' %}"> خروح از حساب کاربری </a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
                <h5 class="mb-3">نتایج آزمون ها</h5>
                {% for course_name, test_grade in user_tests.items %}
                    <div class="card w-75">
                        <div class="card-body">
                            <h5 class="card-title">آزمون {{ course_name }}</h5>
                            {% for grade in test_grade %}
                                <p class="card-text">{{ grade }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}