{% load static %}
<div class="container">
    <div class="row mb-3">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8 mt-3">
            <img src="{% static 'login/images/picture3.PNG' %}" alt="" width="65" height="50"
                 class="d-inline-block align-text-top">
        </div>

        {% comment %}        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                    <form class="d-flex mt-2">
            <input class="form-control me-2" type="search" placeholder="نام دوره را وارد کنید..."
                   aria-label="Search">
            <button class="btn btn-outline-light" type="submit">بگرد</button>
        </form>
        </div>{% endcomment %}

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-3">
            <nav class="navbar">
                <p>{{ user.username }}</p>
                    {% if user.is_authenticated %}
                        <button class="btn btn-outline-light" type="button">
                            <a href="{% url 'logout_user' %}" target="_blank">خروج از حساب کاربری</a>
                        </button>
                        <button class="btn btn-outline-light" type="button">
                            <a href="{% url 'load_dashboard_page' %}" target="_blank">ورود به داشبورد</a>
                        </button>
                    {% else %}
                        <button class="btn btn-outline-light" type="button">
                            <a class="kosar" href="{% url 'registration_page' %}" target="_blank">ورود/ثبت نام</a>
                        </button>
                    {% endif %}
            </nav>
        </div>
    </div>
</div>


{% comment %}
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-3">
    <nav class="navbar">
        <form class="container-fluid btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-light">خروج از حساب</button>
            <button class="btn btn-outline-light" type="button"><a href="Log in and register.html" target="_blank">ورود/ثبت
                نام</a></button>
        </form>
    </nav>
</div>{% endcomment %}
